       
            
       
            
.gallery{
   margin: 0px 0px;
   max-width: 1200px;
   max-height: auto; 
           
    margin-left: auto;
    margin-right: auto;
}
           
    
.gallery .thumbnail img:hover{
    filter:grayscale(0);
    transform: scale(1.1);
}  
           
.a href {
    max-height: 100%;
    max-width: auto;
}           
