
        
.carousel-inner .item img {
            width: 100%;
        }
.contact-container {
            max-width: 400px;
            margin-top: 5px;
        }
       
.list-item {
            line-height: 4;
            list-style-type: none;
        }
.contact-text {
            font: 300 20px 'Lato', sans-serif;
            letter-spacing: 1.9px;
            color: #51D23A;
        }
.contact-text a {
            color: #51D23A;
            text-decoration: none;
        }
#myCarousel {
            max-width: 1200px;
            margin: 0 auto;
        }
#myCarousel .carousel-inner {
            max-height: 844px;
        }
.contact-img {
           max-width: 100%;
          }
        
.carousel-indicators {
          bottom: 150px; 
       
       }
       
  
       
      
       
       