  .main-nav {
  background-color: #FFFDFD;
  border-color: #3AE81B;
  border-width: 5px;
  border-radius: 10px;
}
.main-nav ul li a {
  margin-top: 30px; 
  height: 90px;
  background-color: #FFFDFD;
  border-color: #3AE81B;
  border-width: 5px;
  border-radius: 10px;
}
.main-nav .navbar-nav li a:focus,
.main-nav .navbar-nav li a:hover {
  color: #51D23A;
}
.main-nav li a.active {
    color: #51D23A;
}
.main-nav li a.active {
    border: 2px solid  #51D23A;
    border-radius: 5px;
}


/* xs */
.main-nav .navbar-brand {
  padding: 2px;
}
@media (min-width: 768px) {
  .main-nav .navbar-brand {
    padding: 15px 0 15px 15px;
  }
}      

/* xs */
.DnTLogo {
    border-radius: 30%;
    width: 55px;
}
/* sm */ 
@media (min-width: 768px) {
.DnTLogo {
    border-radius: 30%;
    width: 130px;
  }
} 
 
 
        
button {
    color: #51D23A !important;
    border-color: #51D23A !important;
    background-color: #51D23A !important;
}
